/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SELECTING ALL BUTTONS */
button {
    border: initial; // default value accoridng to CSS Spec which is none;
    background-color: initial;
    color: inherit;
    font: inherit;
    outline: none; /* make sure to there is a visual indicator for focus state */
}

/* KEYFRAMES */
@keyframes fade-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* BASE STYLES ON BODY ELEMENT */
.app {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #fff;
    height: 100vh;
    width: 100vw;
}

/* STYLES */
.header {
    background-image: linear-gradient(to right, #18A0BE, #622DB9);
    height: 55px;
    display:flex;
}

.logo {
    align-self: center;
    margin-right: 30px;
    margin-left: 20px;
    animation: fade-in-from-top 0.5s;
}
/* Default for align-self was stretch, which caused the logo to stretch to fill available space. */

.dd-toggle {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 13px;
    cursor: pointer;
    transition: all 0.4s;
    animation: fade-in-from-top 0.5s;
}

/* This allows keyboard users to tab between options. Keeps hover styling until differnt area is clicked on */
.dd-toggle:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
}

.dd-toggle:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
}

/* .dd-toggle:nth-of-type(1) { 
    animation: fade-in-from-top 0.75s;
}

.dd-toggle:nth-of-type(2) { 
    animation: fade-in-from-top 1s;
}

.dd-toggle:nth-of-type(3) { 
    animation: fade-in-from-top 1.25s;
} */

/* this selects fourth elmement which is the crown icon */
.dd-toggle:nth-of-type(4) { 
    margin-left: auto;
    /* animation: fade-in-from-top 1.5s; */
}

/* .dd-toggle:nth-of-type(5) { 
    animation: fade-in-from-top 1.75s;
} */

.dd-toggle:last-child {
   display: flex;
   align-items: center;
   /* animation: fade-in-from-top 2s; */
}


.dd-toggle__icon {

}

.dd-toggle__img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 7px;
}

.dd-toggle__text {

}